n8n-workflows/generate-playlist-batch-ai-v3.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "blindtest-batch-playlist",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4589c9e3-ad0c-4ee1-9c0b-2b6d4d4c53fe",
      "name": "Batch Player Input Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -96,
        48
      ],
      "webhookId": "GENERATE_NEW_WEBHOOK_ID"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prompt-1",
              "name": "prompt",
              "type": "string",
              "value": "=You are a music expert. Based on a group of {{ $json.players.length }} players with different tastes, recommend exactly 50 songs that would be perfect for a blindtest game that everyone will enjoy.\n\nPLAYERS INFORMATION:\n{{ $json.players.map((player, i) => `Player ${i+1}: ${player.name}\n- Age: ${player.age}\n- Genres: ${player.genres.join(\", \")}\n- Notes: ${player.specialPhrase || \"None\"}`).join(\"\\n\\n\") }}\n\nINSTRUCTIONS:\n- Create a diverse playlist that appeals to all age groups ({{ Math.min(...$json.players.map(p => p.age)) }}-{{ Math.max(...$json.players.map(p => p.age)) }} years)\n- Include songs from ALL mentioned genres: {{ [...new Set($json.players.flatMap(p => p.genres))].join(\", \") }}\n- Balance the distribution so everyone finds songs they like\n- Prioritize popular, recognizable songs perfect for a blindtest\n- Shuffle songs so that all are mixed\n- Make sure all songs are available on Spotify\n\nRESPOND WITH ONLY VALID JSON in this exact format, with no markdown code blocks or explanations:\n[\n  {\"artist\": \"Artist Name\", \"song\": \"Song Title\"},\n  {\"artist\": \"Artist Name\", \"song\": \"Song Title\"},\n  {\"artist\": \"Artist Name\", \"song\": \"Song Title\"},\n  ... (50 songs total)\n]\n\nNo markdown formatting, just pure JSON."
            },
            {
              "id": "playlistId-1",
              "name": "playlistId",
              "type": "string",
              "value": "={{ $json.playlistId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "938b04d8-7902-4004-b07c-2444a3921840",
      "name": "Format Batch Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        352,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "// The AI Agent output is already in the correct format\nconst response = $input.item.json;\n\nconsole.log('Received data:', JSON.stringify(response, null, 2));\n\n// If the response is directly an array, use it\nlet songs = Array.isArray(response) ? response : response.output || response.text;\n\n// If still not an array, try parsing as string\nif (typeof songs === 'string') {\n  songs = JSON.parse(songs);\n}\n\n// Final validation\nif (!Array.isArray(songs)) {\n  throw new Error(`Expected array but got: ${typeof songs}`);\n}\n\n// Récupérer le playlistId depuis Format Batch Data\nconst playlistId = $('Format Batch Data').first().json.playlistId;\n\nconsole.log(`Processing ${songs.length} songs for batch playlist generation`);\nconsole.log(`PlaylistId: ${playlistId}`);\n\n// Return each song for parallel Spotify search with playlistId\nreturn songs.map((song, index) => ({\n  json: {\n    artist: song.artist,\n    song: song.song,\n    searchQuery: `${song.song} ${song.artist}`,\n    index: index,\n    playlistId: playlistId\n  }\n}));"
      },
      "id": "e12408d6-f457-44bf-a9d8-7c7c7076716a",
      "name": "Parse Song List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        48
      ]
    },
    {
      "parameters": {
        "resource": "track",
        "operation": "search",
        "query": "={{ $json.searchQuery }}",
        "limit": 1,
        "filters": {}
      },
      "id": "9b9a1035-f50e-46ad-8afb-6f8c77204c09",
      "name": "Search Song on Spotify",
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        1152,
        48
      ],
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "XFtc8avtF5O4GuHO",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all Spotify track URIs\nconst allItems = $input.all();\nconst trackUris = [];\nconst foundSongs = [];\n\nconsole.log('Processing', allItems.length, 'items from Spotify');\n\nfor (const item of allItems) {\n  const track = item.json;\n\n  // The Spotify node returns the track object directly\n  if (track && track.uri && track.id && track.name) {\n    trackUris.push(track.uri);\n    foundSongs.push({\n      name: track.name,\n      artist: track.artists?.[0]?.name || 'Unknown',\n      uri: track.uri,\n      id: track.id\n    });\n  }\n}\n\nconsole.log('Total tracks found:', trackUris.length);\n\nif (trackUris.length === 0) {\n  throw new Error(`No valid tracks found`);\n}\n\n// Create comma-separated string of URIs for Spotify node\nconst trackUrisString = trackUris.join(',');\n\n// ✅ RÉCUPÉRER LE PLAYLISTID DEPUIS PARSE JSON BODY (plus fiable)\nconst playlistId = $('Parse JSON Body').first().json.playlistId;\n\nconsole.log('PlaylistId récupéré:', playlistId);\n\nreturn [{\n  json: {\n    trackUris: trackUris,\n    trackUrisString: trackUrisString,\n    trackIds: trackUris.map(uri => uri.split(':')[2]),\n    foundSongs: foundSongs,\n    totalFound: trackUris.length,\n    playlistId: playlistId\n  }\n}];"
      },
      "id": "8de3b5ab-3fe4-4683-9e93-2aaf134078f2",
      "name": "Extract Track URIs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        48
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success-1",
              "name": "success",
              "type": "boolean",
              "value": true
            },
            {
              "id": "message-1",
              "name": "message",
              "type": "string",
              "value": "Blindtest batch playlist generated successfully!"
            },
            {
              "id": "playlistId-1",
              "name": "playlistId",
              "type": "string",
              "value": "={{ $('Batch Player Input Webhook').first().json.playlistId }}"
            },
            {
              "id": "totalSongs-1",
              "name": "totalSongs",
              "type": "number",
              "value": "={{ $node[\"Extract Track URIs\"].json.totalFound }}"
            },
            {
              "id": "totalPlayers-1",
              "name": "totalPlayers",
              "type": "number",
              "value": "={{ $('Batch Player Input Webhook').first().json.players.length }}"
            },
            {
              "id": "songs-1",
              "name": "songs",
              "type": "array",
              "value": "={{ $node[\"Extract Track URIs\"].json.foundSongs }}"
            }
          ]
        },
        "options": {}
      },
      "id": "da2c1da9-73d4-4aad-81c5-45b7262b031f",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2048,
        48
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "fa4b9b46-f054-4c70-8d74-2b78fbec13eb",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2272,
        48
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        576,
        48
      ],
      "id": "0f6ee0bf-2839-48c9-8215-7032891cf54c",
      "name": "AI Agent",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        496,
        272
      ],
      "id": "3189a1fb-63d9-42b2-b15e-df9b1a4186d5",
      "name": "OpenAI Chat Model (GPT-3.5)",
      "credentials": {
        "openAiApi": {
          "id": "ytGgzcq7Rtx4z7WA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Le webhook peut recevoir le body de différentes façons\nconst input = $json.body;\n\nconsole.log('═══════════════════════════════════════');\nconsole.log('Type du body:', typeof input);\nconsole.log('Body reçu:', input);\n\nlet data;\n\n// Cas 1 : Le body est déjà un objet\nif (typeof input === 'object' && input !== null) {\n  console.log('✅ Body déjà parsé comme objet');\n  data = input;\n}\n// Cas 2 : Le body est une string JSON\nelse if (typeof input === 'string') {\n  console.log('🔄 Body est une string, parsing nécessaire');\n  console.log('Longueur:', input.length);\n  console.log('Premiers 200 caractères:', input.substring(0, 200));\n  \n  try {\n    // Essayer de parser directement\n    data = JSON.parse(input);\n    console.log('✅ Parsing JSON réussi');\n  } catch (e) {\n    console.log('❌ Erreur parsing direct:', e.message);\n    console.log('Position de l\\'erreur:', e.message.match(/position (\\d+)/)?.[1]);\n    \n    // Afficher le contexte autour de l'erreur\n    const pos = parseInt(e.message.match(/position (\\d+)/)?.[1] || '0');\n    const start = Math.max(0, pos - 50);\n    const end = Math.min(input.length, pos + 50);\n    console.log('Contexte erreur:', input.substring(start, end));\n    \n    throw new Error(`Impossible de parser le JSON: ${e.message}`);\n  }\n}\nelse {\n  throw new Error(`Type de body inattendu: ${typeof input}`);\n}\n\n// Validation\nif (!data.playlistId) {\n  throw new Error('playlistId manquant dans les données');\n}\nif (!Array.isArray(data.players) || data.players.length === 0) {\n  throw new Error('players manquant ou vide');\n}\n\nconsole.log('✅ Données validées:');\nconsole.log('  PlaylistId:', data.playlistId);\nconsole.log('  Nombre de joueurs:', data.players.length);\nconsole.log('═══════════════════════════════════════');\n\n// Retourner les données parsées\nreturn [{\n  json: {\n    playlistId: data.playlistId,\n    players: data.players\n  }\n}];"
      },
      "id": "996e6ad2-1c67-4e0e-ba4d-95fde6b4cbd2",
      "name": "Parse JSON Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        48
      ]
    },
    {
      "parameters": {
        "resource": "playlist",
        "id": "={{ $node['Batch Player Input Webhook'].json.body.playlistId }}",
        "trackID": "={{ $('Extract Track URIs').item.json.trackUrisString }}",
        "additionalFields": {}
      },
      "id": "a2408c88-26d4-4194-8a5f-92fff1cc3bfe",
      "name": "Add Songs to Playlist1",
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        1600,
        48
      ],
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "XFtc8avtF5O4GuHO",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://blindtestapp-cd177-default-rtdb.europe-west1.firebasedatabase.app/playlists/{{ $node['Parse JSON Body'].json.playlistId }}.json",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "playlist_ready"
            },
            {
              "name": "totalSongs",
              "value": "={{ $node['Extract Track URIs'].json.totalFound }}"
            },
            {
              "name": "tracks",
              "value": "={{ $node['Extract Track URIs'].json.foundSongs }}"
            },
            {
              "name": "updatedAt",
              "value": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "42850731-3881-4c86-a517-8b50c8f6df9c",
      "name": "🔥 Write to Firebase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1824,
        48
      ]
    }
  ],
  "connections": {
    "Batch Player Input Webhook": {
      "main": [
        [
          {
            "node": "Parse JSON Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Batch Data": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Song List": {
      "main": [
        [
          {
            "node": "Search Song on Spotify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Song on Spotify": {
      "main": [
        [
          {
            "node": "Extract Track URIs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Track URIs": {
      "main": [
        [
          {
            "node": "Add Songs to Playlist1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse Song List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model (GPT-3.5)": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON Body": {
      "main": [
        [
          {
            "node": "Format Batch Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Songs to Playlist1": {
      "main": [
        [
          {
            "node": "🔥 Write to Firebase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔥 Write to Firebase": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "94b9168551008d33a984c826b7246a9b011ffc20d1040c638e77929747a45f99"
  }
}
