n8n-workflows/n8n-workflow-quiz-mode.json
{
  "name": "Blindtest Quiz Mode - Generate Playlist with MCQ",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "blindtest-quiz-mode",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "blindtest-quiz-mode"
    },
    {
      "parameters": {
        "functionCode": "// Extraire les données\nconst playlistId = $input.item.json.body.playlistId;\nconst age = $input.item.json.body.age;\nconst genres = $input.item.json.body.genres;\nconst preferences = $input.item.json.body.genre1Preferences || '';\n\n// Créer le prompt pour l'IA\nconst prompt = `Tu es un expert musical. Génère 10 chansons pour un blind test en mode Quiz.\n\nProfil du joueur:\n- Âge: ${age} ans\n- Genres préférés: ${genres.join(', ')}\n${preferences ? `- Préférences: ${preferences}` : ''}\n\nIMPORTANT - Format de réponse STRICTEMENT REQUIS:\nPour CHAQUE chanson, tu dois fournir:\n1. Le VRAI titre et artiste (chanson connue et populaire)\n2. 3 FAUSSES réponses plausibles (titres ou artistes similaires mais incorrects)\n\nFormat JSON EXACT à respecter:\n{\n  \"songs\": [\n    {\n      \"title\": \"Vrai Titre de la Chanson\",\n      \"artist\": \"Vrai Artiste\",\n      \"wrongAnswers\": [\n        \"Fausse Réponse 1 - Artiste Erroné\",\n        \"Titre Erroné - Vrai Artiste\",\n        \"Titre Similaire - Artiste Similaire\"\n      ]\n    }\n  ]\n}\n\nRègles pour les fausses réponses:\n- Doivent être crédibles et dans le même style musical\n- Mélanger: faux titres avec vrai artiste, vrai titre avec faux artiste, complètement faux\n- Ne jamais répéter la bonne réponse dans les fausses\n- Variété: orthographe modifiée, titres proches, artistes du même genre\n- Rendre le quiz challengeant mais pas impossible\n\nExemple:\n{\n  \"songs\": [\n    {\n      \"title\": \"Bohemian Rhapsody\",\n      \"artist\": \"Queen\",\n      \"wrongAnswers\": [\n        \"Bohemian Rhapsody - The Beatles\",\n        \"Bohemian Symphony - Queen\",\n        \"Hungarian Rhapsody - Queen\"\n      ]\n    }\n  ]\n}\n\nGénère maintenant 10 chansons populaires avec leurs 3 fausses réponses chacune.`;\n\nreturn {\n  json: {\n    playlistId: playlistId,\n    prompt: prompt,\n    age: age,\n    genres: genres\n  }\n};"
      },
      "id": "prepare-prompt",
      "name": "Prepare AI Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "claude-3-5-sonnet-20241022"
            },
            {
              "name": "max_tokens",
              "value": "4000"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"user\", \"content\": \"{{$json.prompt}}\"}]"
            }
          ]
        },
        "options": {}
      },
      "id": "call-ai",
      "name": "Call Claude AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "functionCode": "// Extraire le contenu de la réponse Claude\nconst aiResponse = $input.item.json.content[0].text;\n\n// Parser le JSON\nlet songsData;\ntry {\n  // Essayer de trouver le JSON dans la réponse\n  const jsonMatch = aiResponse.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    songsData = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('No JSON found in AI response');\n  }\n} catch (error) {\n  console.error('Error parsing AI response:', error);\n  console.error('AI Response:', aiResponse);\n  throw new Error('Failed to parse AI response: ' + error.message);\n}\n\n// Valider et formatter les données\nconst songs = songsData.songs || [];\n\nif (songs.length === 0) {\n  throw new Error('No songs generated by AI');\n}\n\n// Vérifier que chaque chanson a 3 fausses réponses\nsongs.forEach((song, index) => {\n  if (!song.wrongAnswers || song.wrongAnswers.length !== 3) {\n    console.error(`Song ${index + 1} (${song.title}) has ${song.wrongAnswers?.length || 0} wrong answers`);\n    throw new Error(`Song ${index + 1} missing 3 wrong answers`);\n  }\n});\n\nconsole.log(`✅ Successfully parsed ${songs.length} songs with quiz answers`);\n\nreturn {\n  json: {\n    playlistId: $node[\"Prepare AI Prompt\"].json.playlistId,\n    songs: songs\n  }\n};"
      },
      "id": "parse-ai-response",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-songs",
      "name": "Split Into Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.spotify.com/v1/search?q={{encodeURIComponent($json.songs[$node[\"Split Into Items\"].context.currentRunIndex].title + \" \" + $json.songs[$node[\"Split Into Items\"].context.currentRunIndex].artist)}}&type=track&limit=1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "spotifyOAuth2Api",
        "options": {}
      },
      "id": "search-spotify",
      "name": "Search Spotify Track",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "functionCode": "const item = $input.item.json;\nconst songIndex = $node[\"Split Into Items\"].context.currentRunIndex;\nconst songData = $node[\"Parse AI Response\"].json.songs[songIndex];\n\n// Extraire les données Spotify\nconst spotifyTrack = item.tracks?.items?.[0];\n\nif (!spotifyTrack) {\n  console.warn(`⚠️ Chanson non trouvée sur Spotify: ${songData.title} - ${songData.artist}`);\n  return null; // Skip cette chanson\n}\n\n// Construire les 4 réponses\nconst correctAnswer = `${spotifyTrack.name} - ${spotifyTrack.artists[0].name}`;\nconst wrongAnswers = songData.wrongAnswers || [];\n\n// Créer le tableau des 4 réponses\nconst allAnswers = [correctAnswer, ...wrongAnswers];\n\n// Mélanger les réponses (Fisher-Yates shuffle)\nfor (let i = allAnswers.length - 1; i > 0; i--) {\n  const j = Math.floor(Math.random() * (i + 1));\n  [allAnswers[i], allAnswers[j]] = [allAnswers[j], allAnswers[i]];\n}\n\n// Trouver le nouvel index de la bonne réponse après mélange\nconst correctIndex = allAnswers.indexOf(correctAnswer);\n\nconsole.log(`✅ Song: ${spotifyTrack.name} - Correct answer at index ${correctIndex}`);\n\nreturn {\n  json: {\n    playlistId: $node[\"Parse AI Response\"].json.playlistId,\n    uri: spotifyTrack.uri,\n    title: spotifyTrack.name,\n    artist: spotifyTrack.artists[0].name,\n    correctAnswer: correctAnswer,\n    wrongAnswers: wrongAnswers,\n    quizAnswers: allAnswers,\n    quizCorrectIndex: correctIndex\n  }\n};"
      },
      "id": "prepare-song-data",
      "name": "Prepare Song with Quiz Answers",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.spotify.com/v1/playlists/{{$json.playlistId}}/tracks",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "spotifyOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "uris",
              "value": "=[\"{{$json.uri}}\"]"
            }
          ]
        },
        "options": {}
      },
      "id": "add-to-playlist",
      "name": "Add Track to Playlist",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "functionCode": "// Rassembler toutes les chansons\nconst allItems = $input.all();\nconst playlistId = allItems[0].json.playlistId;\n\n// Filtrer les chansons null (non trouvées) et extraire les données\nconst songs = allItems\n  .map(item => item.json)\n  .filter(song => song !== null && song.uri);\n\nconsole.log(`✅ Final result: ${songs.length} songs added to playlist`);\n\nreturn {\n  json: {\n    success: true,\n    playlistId: playlistId,\n    totalSongs: songs.length,\n    songs: songs.map(song => ({\n      uri: song.uri,\n      title: song.title,\n      artist: song.artist,\n      correctAnswer: song.correctAnswer,\n      wrongAnswers: song.wrongAnswers,\n      quizAnswers: song.quizAnswers,\n      quizCorrectIndex: song.quizCorrectIndex\n    }))\n  }\n};"
      },
      "id": "format-response",
      "name": "Format Final Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2050, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Prompt": {
      "main": [
        [
          {
            "node": "Call Claude AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude AI": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Split Into Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Items": {
      "main": [
        [
          {
            "node": "Search Spotify Track",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Spotify Track": {
      "main": [
        [
          {
            "node": "Prepare Song with Quiz Answers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Song with Quiz Answers": {
      "main": [
        [
          {
            "node": "Add Track to Playlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Track to Playlist": {
      "main": [
        [
          {
            "node": "Split Into Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Final Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-07T10:00:00.000Z",
  "versionId": "1"
}
